@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

/* 1️⃣ Define your base theme */
@theme {
  --font-inter: "Inter", sans-serif;
}

/* 2️⃣ Apply Inter globally */
@layer base {
  body {
    @apply font-sans text-foreground bg-background;
    font-family: var(--font-inter);
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);

  --color-highlight: #ff6b6b;
  --color-customGrey: #99a1af;
  --color-sectionBackground: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes modalIn {
  0%   { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-modalIn {
  animation: modalIn 0.25s ease-out forwards;
}

input:focus {
  outline: none;
  border: none;
}